.vynil {
  width: 25em;
  height: 25em;
  background-color: black;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;

  background-image: repeating-conic-gradient(
      transparent,
      rgba(0, 0, 0, 0.89),
      transparent 180deg
    ),
    repeating-radial-gradient(black 0 1%, #222 1% 2%, black 2%);

  display: grid;
  justify-items: center;
  align-items: center;

  animation: spin 3s infinite linear;

  z-index: 1;
  position: relative;
}

.sticker {
  width: 11em;
  height: 11em;
  background-color: purple;
  border-radius: 50%;
  object-fit: cover;
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}

.cover {
  width: 30em;
  height: 30em;
  background-color: rgb(207, 3, 3);
  border-radius: 3%;

  display: grid;
  justify-items: center;
  align-items: center;

  z-index: 10;
  position: relative;
}

figure {
  margin: 0;
  margin-top: 2em;

  z-index: 10;
  position: relative;
}
